{% extends 'base.html' %}

 {% block pageTitle %} {% block title %} {{g.filename}}{% endblock %}{% endblock %}

{% block links %}


{% endblock %}


{% block header %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style/legend.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style/pcStyle.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style/plot.css')}}"/>
    <script src="https://cdn.jsdelivr.net/npm/vega"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite-api"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-tooltip"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.11.1"></script>




{% endblock %}

{% block navlinks %}
<li class="nav-item active">
  <!--<a class="nav-link" href="{{url_for('trace.newtrace')}}">New Trace</a>-->
    <a class="nav-link" href="#" id="newTrace" onclick='var source = editor.getValue();
              source = remove_additions(source.split("\n")).join("\n");
              $("#formTraceSource").val(JSON.stringify(source))
              $("#submitNewTrace").click()'>New Trace</a>
</li>
<li class="nav-item active">
  <!-- well that's real ugly: we have a nav link here but we use the #loadTrace div below
   for its handler -->
  <a class="nav-link" href="#" onclick="document.getElementById('upload_trace').click()">Upload Trace</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="#" onclick="document.getElementById('upload_log').click()">Upload Log</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="#"  id="rerunTrace">Re-run Trace</a>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Traces</a>
  <div class="dropdown-menu">
    {% for t in traces %}
    <a class="dropdown-item" href="#">{{t}}</a>
    {% endfor %}
  </div>
</li>
{% endblock %}

{% block rightnav %}
<li class="nav-item"><a class="nav-link" href="#">Options:</a></li>
<li class="nav-item dropdown">
  <!-- FIXME that margin-top: 5px is ugly, we should find the right way to have bootstrap
       center the button vertically along the navbar -->
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="exec-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 5px"></button>
  <div id="exec_options" class="dropdown-menu dropdown-menu-right" aria-labelledby="exec-options">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="chk_hide" onchange="filter_hide()">
      <label class="form-check-label" for="chk_hide">
        Hide Blocks Upon Filter
      </label>
    </div>
  </div>
</li>
{% endblock %}

{% block content %}
<!-- Note that this div is hidden but we need it to exist so that its click handler
     can be triggered. It's real ugly but #justdeadlinethings
-->
<div class="row" style="display:none">
  <div class="col" id="options">
    <input type="button" value="New Trace" onclick="location.href='{{url_for('trace.newtrace')}}';" style="display:inline-block">

    <form id="fileForm" method="post" enctype=multipart/form-data style="display:inline-block">
      <input type="button" id="loadTrace" value="Upload Trace">
      <input type="file" id="upload_trace" accept=".trace" name ="file">
    </form>

    <form id="logFileForm" method="post" enctype=multipart/form-data style="display:inline-block">
      <input type="button" id="loadLog" value="Upload Log">
      <input type="file" id="upload_log" accept=".log" name ="file">
    </form>

    <form id="rerunForm" method="post" enctype=multipart/form-data style="display:inline-block">
      <input type="text" name="source" id="formSource">
      <input type="checkbox" name="rerun" id="rerunCheck" checked = "checked">
      <input type="submit" id="submitRerun" accept=".trace" name ="file">
    </form>

    <form id="newTraceForm" method="post" action="{{ url_for('trace.newtrace') }}" enctype=multipart/form-data style="display:inline-block">
      <input type="text" name="source" id="formTraceSource">
      <input type="checkbox" name="init" id="initCheck" checked = "checked">
      <input type="submit" id="submitNewTrace" accept=".trace" name ="file">
    </form>


    <label>Traces:</label>
    <select id="existingTraces" style="display:inline-block">
      {% for t in traces %}
      <option value = {{t}}>{{t}}</option>
      {% endfor %}
    </select>

  </div>
</div>

<div class="row">
  <div class="col-5">
    <div id="code" >
      <textarea id="source" oncontextmenu="function(){return false;}" onscroll="Onscrollfnction();">
      </textarea>
      <div id="codeCMenu" style="position:fixed; visibility:hidden " class="contextMenu">
          <ul style="list-style-type:none;  margin: 0; padding-left: 20px; padding-top: 5px">
              <li onmouseenter="cmHighlight(this)" onmouseleave="cmUnhighlight(this)" onclick="filter()">Add Variable to Plot</li>
  <!--<li onmouseenter="cmHighlight(this)" onmouseleave="cmUnhighlight(this)" onclick="partitionTrace()" >Partition Points</li>-->
          </ul>
      </div>
    </div>
    <div id="consoleArea" style="display: none">
      <p id="console" readonly="readonly">
      </p>
      <p id="errors">
      </p>
    </div>
  </div>
  <div class="col-7">
    <div id="execution">
        <div id="execOptArea">
              <button class="openLegBtn" onclick="openLeg()"x>&#9776;  </button>

        </div>
       <nav id="legendNav" class="sidebar " style=" width:200px">
      </nav>

    </div>

    <div id="plot">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div id="plotOptArea" style="margin: 10px">
        <div id="plotIcons">
          <!--<a href="#"><img id="icon-histogram" class = "plotType" src="/static/img/icons/noun_histogram_2311995.svg" height="50px" style="opacity: 1"></a>-->
          <!--<a href="#"><img id="icon-scatter"   src="/static/img/icons/noun_scatter_2311987.svg"   height="50px" style="opacity: 0.25"></a>-->
          <!--<a href="#"><img id="icon-curve"     src="/static/img/icons/noun_curve_2312004.svg"     height="50px" style="opacity: 0.25"></a>-->
          <!--<button class="openbtn" onclick="openNav()">&#9776; Plot Options</button>-->
           <!--<input style="margin-left:50px;"type="button" id="clrFilter" value="Clear Filters" onclick="clear_filters()">-->
          <ul class="navbar-nav mr-auto"> <li>
                <a href="#"><img id="icon-box" class = "plotType" src="/static/img/icons/noun_Box Plot_991170.svg" height="50px" style="opacity: 1"></a>
              </li>
            <li>
                <a href="#"><img id="icon-histogram" class = "plotType" src="/static/img/icons/noun_histogram_2311995.svg" height="50px" style="opacity: 1"></a>
            </li>
            <li>
              <a href="#"><img id="icon-scatter"   src="/static/img/icons/noun_scatter_2311987.svg"   height="50px" style="opacity: 0.25"></a>
            </li>
            <li>
              <a href="#"><img id="icon-curve"     src="/static/img/icons/noun_curve_2312004.svg"     height="50px" style="opacity: 0.25"></a>
            </li>
            <li class = "navButton">
                <a href="#"><img id="icon-pc"     src="/static/img/icons/noun_parallel_coordinates_1503840.svg" height="50px" style="opacity: 0.25"></a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false"> Split plots by</a>
              <div class="dropdown-menu" id="group_drpdwn">
                  <a class="nav-link drp_item"  role="button" >Clear All</a>

              </div>
            </li>

            <li class="nav-item active">
              <a class="nav-link" onclick="clear_filters()" role="button" >Clear Filters</a>
            </li>
            <li id="change_plot_opts" class="nav-item active navButton">
                <a class="nav-link" onclick="update_plot_opts()" role="button" >Plot Options</a>
            </li>

            <!--<li class="nav-item dropdown">-->
  <!--<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Traces</a>-->
  <!--<div class="dropdown-menu">-->
    <!--{% for t in traces %}-->
    <!--<a class="dropdown-item" href="#">{{t}}</a>-->
    <!--{% endfor %}-->
  <!--</div>-->
<!--</li>-->

           </ul>
        </div>
      </div>
    </nav>


        <div id="plotCMenu" style="position:fixed; visibility:hidden " class="contextMenu">
            <ul style="list-style-type:none;  margin: 0; padding-left: 20px; padding-top: 5px">
                <li onmouseenter="cmHighlight(this)" onmouseleave="cmUnhighlight(this)" onclick="filter()">Filter</li>
                <!--<li onmouseenter="cmHighlight(this)" onmouseleave="cmUnhighlight(this)" onclick="partitionTrace()" >Partition Points</li>-->
            </ul>
        </div>

        <div id="axisMenu" style="position:fixed; visibility:hidden" class = "contextMenu">
            <ul style="list-style-type:none;  margin: 0; padding-left: 20px; padding-top: 5px">
                <li onmouseenter="cmHighlight(this)" onmouseleave="cmUnhighlight(this)" onclick="clearAxis(event)" >Clear Axis</li>
                <li onmouseenter="cmHighlight(this)" onmouseleave="cmUnhighlight(this)" onclick="changeScale(event)" >Change Scale</li>
            </ul>
        </div>

    <div id="plotView">

    </div>

      <!--<nav id="plotOptNav" class="sidebar active" style="float:right">-->
      <!--</nav>-->

    </div>
  </div>

</div>

<script type="text/javascript" src="{{url_for('static', filename='plot.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='execution.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='scatter.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='histogram.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='boxplot.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='barplot.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='parallelCoord.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='tests.js')}}"></script>


 <script>

           /* var select = document.getElementById('existingTraces');
            initExecArea();
            initPlot();
            select.selectedIndex = select.options.length-1;
            */
            t = {{trace|tojson}}

            test = JSON.parse({{test}})

            testKey = JSON.parse({{testKey|tojson}})

            init_plot();
            init_execution();

            init_source("{{g.source}}")
            if(t!=null){
                init_trace(t)
            }

            loadFunctions({{fInfo|tojson}})
            loadLoops({{lInfo|tojson}})
            loadDependencies({{depends|tojson}})


            /*
            $("#existingTraces").change(function(){

                var select = document.getElementById('existingTraces');
                var ind = select.selectedIndex
                var fname= select.options[ind].value
                var trace = null
                var vals = null

                $.post(
                    "{{ url_for('anteater.loadTrace')}}",
                    {fname: fname},
                    function (data) {
                        loadTrace(data.trace);
                    }
                    );


            });

            */

            $("#rerunTrace").click(function(){
              var source = editor.getValue();
              //addedStrings.forEach(function(s){
              //    source = source.replace(s,'');
              //})
              source = remove_additions(source.split("\n")).join("\n");
              $("#formSource").val(JSON.stringify(source))
              $("#submitRerun").click()
            })

            $("#newTrace").click(function(){
              var source = editor.getValue();
              source = remove_additions(source.split("\n")).join("\n");
              $("#formTraceSource").val(JSON.stringify(source))
              $("#submitNewTrace").click()
            })



            /*

            $("#loadTrace").click(function(){
                document.getElementById('upload_trace').click();
            });

            $("#upload_trace").on("change",function(){
                document.getElementById('fileForm').submit();

            });



             $("#upload_log").on("change",function(e){
                //var logName = e.target.files[0].name;
                //var select = document.getElementById('existingTraces');
                //var ind = select.selectedIndex
                //var traceName= select.options[ind].value


                var file = e.target.files[0];
                if (file) {
                var reader = new FileReader();
                reader.onloadend = function(evt) {
                  var text = evt.target.result;
                  // The following call results in an "Access denied" error in IE.
                  loadLog(text);
                  };
                  reader.readAsText(file);
                }

            });

            loadFunctions({{fInfo|tojson}})
            loadLoops({{lInfo|tojson}})
            loadDependencies({{depends|tojson}})
            showConsole("{{output}}");
   //if(t === null) {
   //    document.location="/trace/trace";
  //}

          $(window).on("beforeunload", function(e) {
              var records = getLogRecords();
              console.log(records)
              var select = document.getElementById('existingTraces');
              var ind = select.selectedIndex
              var fname= select.options[ind].value
              console.log("LOGGING???")
             $.post(
                    "{{ url_for('anteater.writeLog')}}",
                    {records: JSON.stringify(records),
                     trace: fname
                    },
                    function(data){}
                    );


        });*/


    </script>

{% endblock %}
