{% extends 'base.html' %}



{% block header %}

  <h1>{% block title %}{% endblock %}</h1>

{% endblock %}

{% block pageTitle %}Anteater{% endblock %}


{% block content %}
<script src="{{url_for('static',filename='main.js')}}"></script>
    {% if g.user %}
    <a class="action" href="{{ url_for('trace.runTrace') }}">Trace Program</a>
    {% else %}

    <form method="post" enctype=multipart/form-data id = "form">
        <h2>Choose Source File:</h2>

        <input type="file" id="srcFile" accept=".py" name = "file" style="padding-bottom:35px">


        <br/>
        <br/>

        <h2>Choose any supporting files</h2>
        <input type="file" multiple id="supportFiles" name = "file2" style="padding-bottom:35px">

        <br/>

        <input type="submit" value="Begin">

        <input type="text" id = "test" name = "test" value="false" style="visibility:hidden">

    </form>

  {% endif %}
    <script type="text/javascript" src="{{url_for('static', filename='tests.js')}}"></script>

{% endblock %}
