{% extends 'base.html' %}

{% block links %}
    <script type="text/javascript" src="{{url_for('static', filename='newTrace.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style/newTrace.css')}}"/>
{% endblock %}

 {% block pageTitle %} {% block title %} {{g.filename}}{% endblock %}{% endblock %}



{% block header %}

<h1> New Trace:</h1>
<!--<input type="button" value="Add Variable" onclick="">-->
<!--<input type="button" value="Add Expression">-->

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-6">
    <div id="ContextMenu" style="position:fixed; visibility:hidden" >
      <ul style="list-style-type:none;  margin: 0; padding-left: 20px; padding-top: 5px">
        <li onmouseenter="highlight(this)" onmouseleave="unhighlight(this)" onclick="cmAddVar()" >Add variable</li>
        <li onmouseenter="highlight(this)" onmouseleave="unhighlight(this)" onclick="cmAddExpr()">Add Expression</li>
        <li onmouseenter="highlight(this)" onmouseleave="unhighlight(this)" onclick="cmAddFuncExcl()">Exclude Function</li>
        <li onmouseenter="highlight(this)" onmouseleave="unhighlight(this)" onclick="cmAddLibExcl()">Exclude Library</li>
      </ul>
    </div>
    <div id="code">
      <textarea  id="source"  onscroll="Onscrollfnction();">
      </textarea>
    </div>
  </div>
  <div class="col-6">
    <div id="trackingArea">
      <form method="post">
        <h2> Variables/Expression to Track</h2>

        <table id="tracking">
            <tr>
                <th>Name</th>
                <th>Line Number</th>
                <th>Line Offset</th>
                <th>Type</th>
                <th>Custom Expressions on {}</th>
            </tr>

        </table>


    <div id="exprMenu" style="position:fixed; visibility:hidden" >
      <ul style="list-style-type:none;  margin: 0; padding-left: 20px; padding-top: 5px">
        <li onmouseenter="highlight(this)" onmouseleave="unhighlight(this)" onclick="add_custom_expr(this)" >Add Custom Expression</li>
      </ul>
    </div>

        <input type="button" value="Delete" onclick="deleteSelected()">
        <input type="submit" value="Run Trace">

        <h2> Functions/Library Calls to Exclude</h2>
        <table id="exclusions">
            <tr>
                <th> Name </th>
                <th> Type</th>
                <th>Line # (for scope)</th>
            </tr>



        </table>
        <input type="button" value="Delete" onclick="deleteSelectedExclusion()">
        <input type="text" name="funcExcl" id="exclFJson" style="visibility:hidden">
        <input type="text" name="libExcl" id = "exclLJson" style="visibility:hidden">
        <input type="text" name="variables" id="varJson" style="visibility:hidden">
        <input type="text" name="expressions" id = "exprJson" style="visibility:hidden">
        <input type="text" name="overview" value = "false" style="visibility:hidden">
        <textarea  name="source" id="sourceCode" style="visibility:collapse; height:0px"></textarea>
    </form>

    </div>
  </div>
</div>

<script>

        show_source("{{g.source}}",true)

        $("div.CodeMirror-code").bind("contextmenu",function(event){
            event.preventDefault();

            show_context(event);

        })


        //var text = getText()
        var source = editor.getValue();
        $("#sourceCode")
        .val(JSON.stringify(source))

        init_exclusions();


</script>

{% endblock %}

