.contextMenu
{
    width: 150px;
    height: 50px;
    background-color: #f2f2f2;
    z-index: 999;
    position:absolute;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ui-widget-header,.ui-state-default, ui-button {
    background:#4CAF50;
    border: 1px solid #b9cd6d;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-dialog .ui-widget-content{
    background: #f2f2f2;
}
.ui-widget .ui-front{
    background: #f2f2f2;
}
.dialog_text{
    width:100%
}

#plotView{
  overflow-y: scroll;

}

#loader {
  border: 16px solid #dbdbdb; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loaderCase{
  padding-left: 125px;
}

#loading{
  text-align: center;
  width: 300px;
  height: 150px;
  background-color: #f2f2f2;
  position:absolute;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 45%;
  left: 45%;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
